<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Certificado</title>
        <style>
            .page-front {
                background-image: url("{{ modelo.modelo.background_frente }}");
                background-size: 100% 100%;
                height: 100%;
                width: 100%;
            }
            .page-back {
                background-image: url("{{ modelo.modelo.background_costa }}");
                background-size: 100% 100%;
                height: 100%;
                width: 100%;
            }
            .two {
                margin-top: 100px;
            }
            .texto {
                position: absolute;
                top: 450px;
                margin-left: 10%;
                margin-right: 10%;
                width: 80%;
                font-size: 25px;
                text-indent: 60px;
                text-align: justify;
            }
            .data {
                text-align: right;
                margin-right: 200px;
            }
            .token {
                position: absolute;
                bottom: 2px;
                right: 25px;
                text-align: right;
                width: 1000px;
            }
            .atividades {
                padding-top: 100px;
                margin-left: 100px;
            }
            .atividades span {
                font-weight: bold;
            }
            .carimbo {
                position: absolute;
                font-size: 13px;
                font-weight: bold;
                width: 250px;
                right: 100px;
                bottom: 100px;
            }
            .square {
                border: 1px solid #000;
                padding: 5px;
            }
            .assinaturas {
                position: absolute;
                width: 100%;
                top: 650px;
                font-size: 20px;
            }
            .assinaturas .assinatura {
                float: left;
                width: 32%;
                margin-left: 9%;
                margin-right: 9%;
            }
            .assinaturas .principal {
                float: left;
                width: 40%;
                margin-left: 30%;
                margin-right: 30%;
            }
            .assinatura {
                width: 100%;
                text-align: center;
            }
            .assinatura img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                height: 50px;
            }
            .principal img {
                display: block;
                margin-right: auto;
                margin-left: auto;
                height: 75px;
            }
        </style>
    </head>
    <body>
        <div class="page-front">
            <section class="texto">
                {{ modelo.texto }}
            </section>
            <section class="assinaturas">
                {% if not modelo.assinatura_diretor or not modelo.assinatura_coordenador %}
                <div class="assinatura principal">
                    {% if modelo.assinatura_diretor %}
                    <img src="{{ modelo.assinatura_diretor.imagem }}">
                    {{ modelo.assinatura_diretor.nome }}<br />
                    {{ modelo.assinatura_diretor.cargo }}
                    {% else %}
                    <img src="{{ modelo.assinatura_coordenador.imagem }}">
                    {{ modelo.assinatura_coordenador.nome }}<br />
                    {{ modelo.assinatura_coordenador.cargo }}
                    {% endif %}
                </div>
                {% else %}
                <div class="assinatura">
                    <img src="{{ modelo.assinatura_diretor.imagem }}">
                    {{ modelo.assinatura_diretor.nome }}<br />
                    {{ modelo.assinatura_diretor.cargo }}
                </div>
                <div class="assinatura">
                    <img src="{{ modelo.assinatura_coordenador.imagem }}">
                    {{ modelo.assinatura_coordenador.nome }}<br />
                    {{ modelo.assinatura_coordenador.cargo }}
                </div>
                {% endif %}
            </section>
        </div>
    </body>
    <body>
        <div class="page-back two">
            <div class="atividades">
            <h3>Cronograma</h3>
            {% for atividade in configuracao.edicao.edicao_atividadegeral.all %}
                <span>Atividade:</span> {{ atividade.descricao }}<br />
            {% endfor %}
            {% for minicurso in configuracao.edicao.edicao_minicurso.all %}
                <span>Minicurso:</span> {{ minicurso.nome }}<br />
            {% endfor %}
            {% for atividade in configuracao.edicao.edicao_atividade.all %}
                <span>Atividade:</span> {{ atividade.nome }}<br />
            {% endfor %}
            {% for palestra in configuracao.edicao.edicao_palestra.all %}
                <span>Palestra:</span> {{ palestra.nome }}<br />
            {% endfor %}
            </div>
            {% if assinatura_carimbo %}
            <div class="carimbo">
                Registro no livro de Atas nº
                <div class="square">
                    Registro de Certificado Nº {{ certificado.numero }}<br>Livro {{ configuracao.livro_certificado }}<br />
                    Fls {{ certificado.pagina }} Data {{ certificado.data_emissao | date:"d/m/Y" }}
                    <div class="assinatura">
                        <img src="{{ assinatura_carimbo.imagem }}">
                        {{ assinatura_carimbo.nome }}<br />
                        {{ assinatura_carimbo.cargo }}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="token">
                Código de Validação: {{ certificado.token | upper }}
            </div>
        </div>
    </body>
</html>
