<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Lista de Presença</title>
        <style>
            h1 {
                text-align: center;
                font-size: 25px;
            }
            h2 {
                text-align: center;
                font-size: 20px;
            }
            table {
                width: 100%;
                border-spacing: 0px;
                border-collapse: separate;
            }
            th,
            td {
                border-right: 1px solid #000;
                padding: 9px;
                width: 31%;
                font-size: 15px;
            }
            th {
                border-top: 1px solid #000;
            }
            th,
            td {
                border-bottom: 1px solid #000;
            }
            tr th:first-child,
            tr td:first-child {
                border-left: 1px solid #000;
                width: 10%;
                text-align: center;
            }
            .date {
                display: block;
                text-align: right;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <span class="date">___/___/___</span>
        <h1>{{ evento|upper }}</h1>
        <h2>{{ atividade|title }}</h2>
        <table>
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Participante</th>
                    <th>CPF</th>
                    <th>Assinatura</th>
                </tr>
            </thead>
            <tbody>
            {% for participante in participantes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ participante.get_full_name|title }}</td>
                <td>{{ participante.cpf }}</td>
                <td></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>