<section style="
  background-color: #DDD;
  box-shadow: 0px 0px 20px #AAA;
  font-family: 'Montserrat';
  color: #444;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  ">
  <h1 style="
  font-size: 2em;
  font-weight: normal;
  margin: 0px;
  padding: 0px;">
  Rease - Sistema de Eventos
  </h1>
  <h2 style="
  font-size: 1.3em;
  font-weight: normal;">
  {{ edicao }}
  </h2>
  <p style="
  background-color: #FFF;
  padding: 10px 0px;
  font-size: 1.3em;
  color: #0A1;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #FFF;
  margin: 0px 10px;">
  Inscrição efetuada com sucesso!
  </p>
</section>